

<div>
    <ul class="navbar-nav mr-auto" >


        <li class="nav-item">
            <a class="nav-link" routerLink='/mysubject/subject'>Data Binding</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='/mysubject/behavioursubject'>Data Binding</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='/mysubject/replaysubject'>Data Binding</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink='/mysubject/asyncsubject'>Data Binding</a>
        </li>
        

        

    
  

    </ul>
    <router-outlet></router-outlet>
</div>