<div class="container">
  
  <h1 class="text-center">{{title}}</h1>
  <br>
  <br>

<!-- <button class="btn btn-info" style="margin-left: 450px; margin-top: 10px; margin-bottom: 50px;">Master Details</button> -->

  <div class="row">
    <div class="col-md-3">
      <button routerLink='/Tshirt-UI' class="btn btn-danger"> Data Binding demo</button>
    </div>

    
      <div class="col-md-2">
        <button routerLink='/Product-UI'  class="btn btn-warning"> Product data</button>
      </div>
      

    
    <div class="col-md-3">
      <button routerLink='/Structure-UI'   class="btn btn-warning"> Structural Directive demo</button>
    </div>

    <div class="col-md-3">
      <button  routerLink='/Purchase-UI'   class="btn btn-info"> master details</button>
    </div>


    <!-- <div class="col-md-2">
      <button (click)='showpurchasedemo()' class="btn btn-warning"> Purchase</button>
    </div> -->

    <!-- <div class="col-md-2">
      <button  (click)='showpurchaseorderdemo()'  class="btn btn-warning"> Purchase-order</button>
    </div> -->


  </div>

  <hr>


  <div class="row">
    <div class="col-md-12">

    <!-- <app-tshirtdatabinding *ngIf="showDataBindingDemo"></app-tshirtdatabinding>
<app-structuredirective *ngIf="showDirectiveDemo"></app-structuredirective>
<app-product *ngIf="showproductcomponent"></app-product>
<app-purchase *ngIf=" showpurchasecomponent"></app-purchase>  -->
<!-- <app-purchase-order *ngIf=" showpurchaseordercomponent"></app-purchase-order> -->

<router-outlet></router-outlet>

  </div>
</div>
</div>