<div class="text-center
">
    <br><br><br>
    <button class="btn btn-danger" (click)='generateerror()'>generate error</button>
    <br><br>
    <h2>press f12 to open console and see the error</h2>
    <br>
</div>

<div class="row">

    <div class="col-md-6">
        <img src="../assets/errorhandlingservice.jpg" alt="errorhandling service file" style="height: 500px; width: 550px;">

    </div>

    <div class="col-md-6">

        <img src="../assets/errorhandling-ts.jpg" alt="errorhandling-ts file" style="height: 500px; width: 550px;">
    </div>

</div>
<br><br>
<div class="text-center">

</div>
<br><br><br><br><br>

<p class="text-center" style="color: gray;">This is a simple example depicting the use of errorhandler service,<br> By using this we can manipulate the error logs according to our business requirements
</p>