<div class="text-center
">
    <br><br><br>
<button class="btn btn-danger" (click)='generateerror()'>generate error</button>
<br><br><br>
</div>

<div class="row">

    <div class="col-md-6">
        <img src="../assets/errorhandlingservice.PNG" alt="errorhandling service file" style="height: 500px; width: 550px;">
        
    </div>
    
    <div class="col-md-6">
        
        <img src="../assets/errorhandling-ts.PNG" alt="errorhandling-ts file" style="height: 500px; width: 550px;">
    </div>

</div>
<br><br>
<div class="text-center">
<div class="col-md-6" >

        
        <img src="../assets/error-output.PNG" alt="errorhandling-ts file" style="height: 170px; width: 650px;">
    </div>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<p class="text-center" style="color: blue;">NOTE: This is a simple example depicting the use of errorhandler service,<br>
  By using this we can manipulate the error logs according to our business requirements
</p>
