<br><br><br>
<div class="text-center">

    
<input type="string"  [(ngModel)]='color'><br>
<br>
<div appChangeColor [color]='color' style="width: 200px; align-items: center; margin-left: 450px;"><h1>Hello world </h1></div><br>
<button appChangeColor [color]='color' style="height: 30px; width: 150px;"> click me </button><br>
</div>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<p class="text-center" style="color: blue;">NOTE: This is an example of attribute directive depicting the use of 'Host binding' and 'Host listener', we have provided one input field ,div and a button <br>
  the div and button will change their color and border once the color is proivded in input field
</p>