<br><br>
<input type="text" placeholder="Enter item to be searched" [(ngModel)]='value' style="height: 35px; width: 220px; margin-left: 250px; border-color: black; border-radius: 7px;">

<input type="number" placeholder="Enter price" [(ngModel)]='pricevalue' style="height: 35px; width: 220px; margin-left: 50px; border-color: black; border-radius: 7px;">
<br><br><br>
<nav>
    <div style="justify-content: center; margin-bottom: 10px;" class="nav nav-tabs">
        <button class="nav-link" type="button" (click)='showTable = true;' style="margin-right: 15px;">HTML Table</button>
        <button class="nav-link" type="button" (click)='showTable = false;'> Angular Material Table</button>
    </div>
</nav>
<!-- <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>

                <th>
                    Title
                </th>

                <th>
                    Price
                </th>

                <th>
                    Expiry Date
                </th>

                <th>
                    Quantity
                </th>

                <th>
                    Instock
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products | productsearch:value | mycustompipe:pricevalue">
                <td> {{p.Id}} </td>
                <td> {{p.Title}} </td>
                <td> {{p.Price | currency:'INR'}} </td>
                <td> {{p.ExpiryDate | date}} </td>
                <td> {{p.Quantity}} </td>
                <td>
                    <ng-container *ngIf="p.isInstock; then instock else outofstock"></ng-container>
                    <ng-template #instock>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </ng-template>

                    <ng-template #outofstock>
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <button class="btn btn-default"> Order Now</button>
                    </ng-template>



                </td>
            </tr>

        </tbody>
    </table>

</div> -->

<ng-container *ngIf="showTable; then htmlTable else angularTable"></ng-container>

<ng-template #htmlTable>
    <div style="width: 100%;">

        <div>
            <h1>
                HTML: Table
            </h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
    
                    <th>
                        Title
                    </th>
    
                    <th>
                        Price
                    </th>
    
                    <th>
                        Expiry Date
                    </th>
    
                    <th>
                        Quantity
                    </th>
    
                    <th>
                        Instock
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products | productsearch:value | mycustompipe:pricevalue">
                    <td> {{p.Id}} </td>
                    <td> {{p.Title}} </td>
                    <td> {{p.Price | currency:'INR'}} </td>
                    <td> {{p.ExpiryDate | date}} </td>
                    <td> {{p.Quantity}} </td>
                    <td>
                        <ng-container *ngIf="p.isInstock; then instock else outofstock"></ng-container>
                        <ng-template #instock>
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </ng-template>
    
                        <ng-template #outofstock>
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <button class="btn btn-default"> Order Now</button>
                        </ng-template>
    
    
    
                    </td>
                </tr>
    
            </tbody>
        </table>
    
</div>
</ng-template>



<ng-template #angularTable>
    <div style="width: 100%;">
       
       
        <div>
            <h1>
                Angular Material Table
            </h1>
        </div>
        <div class="row" >
        <table mat-table [dataSource]='products' class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
            </ng-container>


            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.Price | currency: 'INR'}} </td>
            </ng-container>

            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="Expiry Date">
                <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
                <td mat-cell *matCellDef="let element"> {{element.ExpiryDate | date}} </td>
            </ng-container>

            <ng-container matColumnDef="Instock">
                <th mat-header-cell *matHeaderCellDef> isInstock </th>
                <td mat-cell *matCellDef="let element"> {{element.isInstock}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    </div>

</ng-template>


<br><br><br><br><br>


<p class="text-center" style="color: grey;">In this component we have used a dataservice to let the component access a function which return some data and <br> is shown in a table, and if item is out of stock a button will be visible to order more.
</p>

<!-- <button class="btn btn-danger" (click)='generateerror()'>generate error</button> -->
<!-- 
<p>attribute directive works</p>
<input type="text" [(ngModel)]='color'>
<div appChangeColor [color]='color'>Hello world</div> -->